@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline-offset: 5px;
}

html {
  scroll-padding-top: 60px;
  scroll-behavior: smooth;
}

body {
  font-family: 'SUSE', sans-serif;
  font-optical-sizing: auto;
}

h1 {
  @apply text-4xl md:text-5xl lg:text-6xl 2xl:text-7xl;
}

h2 {
  @apply text-2xl lg:text-3xl 2xl:text-4xl;
}

h3 {
  @apply text-xl lg:text-2xl 2xl:text-3xl;
}

p {
  @apply text-base sm:text-lg lg:text-xl my-1;
}

a {
  color: inherit;
  text-underline-offset: 3px;
}

[class^='btn-'] {
  @apply py-2 px-8 rounded my-5 transition-all duration-300 border-2 text-xl;
}

.btn-1 {
  @apply bg-brand-yellow text-brand-black border-brand-yellow hover:bg-brand-black hover:text-brand-yellow;
}

.btn-2 {
  @apply bg-brand-black text-brand-yellow border-brand-black hover:bg-brand-yellow hover:text-brand-black;
}

header nav,
header nav a {
  @apply transition-all;
}

ul.nav-tabs a.router-link-active {
  color: #fff8dc;
}
ul.nav-tabs a.router-link-active:after {
  width: 100%;
}

ul.nav-tabs a:after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff8dc;
  transition: width 0.3s;
}

ul.nav-tabs a:hover:after {
  width: 100%;
}

/* burger animation */
button.navbar-toggler span {
  transform-origin: right center;
  -webkit-transform-origin: right center;
}
button.navbar-toggler:not(.collapsed) span:nth-child(1) {
  transform: translate(-2.5px, -2px) rotate(-40deg);
  -webkit-transform: translate(-2.5px, -2px) rotate(-40deg);
  width: 20px;
}
button.navbar-toggler:not(.collapsed) span:nth-child(2) {
  width: 0;
}
button.navbar-toggler:not(.collapsed) span:nth-child(3) {
  transform: translate(-2px, 1px) rotate(40deg);
  -webkit-transform: translate(-2px, 1px) rotate(40deg);
  width: 20px;
}
button.navbar-toggler:focus:not(:focus-visible) {
  box-shadow: none;
  -webkit-box-shadow: none;
}
/* burger animation end */

div.hp-cover {
  background-image: url('@/assets/images/products/pc_plasticna_cisterna_5.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
  border-radius: 0 0 50px 50px;
}

div.prod-desc > div {
  @apply self-stretch flex-grow rounded p-10 bg-white transition-all md:hover:-translate-y-3 md:hover:shadow-xl;
}

.black-text-box {
  background-image: url('@/assets/images/products/pvr_plasticni_vertikalni_rezervoari_4.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
  background-attachment: fixed;
}

/* form */
.ada-form {
  @apply max-w-96;
}

.ada-form label {
  @apply mb-1 text-base sm:text-lg lg:text-xl my-1;
}

.ada-form label span {
  @apply text-red-900;
}

.ada-form :is(input, select, textarea) {
  @apply text-black bg-brand-yellow rounded-md mb-3 p-2 block w-full mt-1 border-2 border-brand-black;
}

.ada-form textarea {
  @apply min-h-20;
  position: relative;
}
/* form end */
